.video-item {
  cursor: pointer;
  text-decoration: none;
}

.video-item:hover .video-title {
  transform: scale(1.08);
  -webkit-transition: all .2s;
  transition: all 0.2s;
  color: #1c67dd;
}

.video-item:hover {
  background-color: #f4f4f4;
  -webkit-transition: all .2s;
  transition: all 0.2s;
}

.card-header a:hover {
  text-decoration: none;
}

i.fa {
  transform: scale(1.5);
}

i.fa:hover {
  transform: scale(1.9);
  transition: all 0.15s;
}
