<div *ngIf="video">
  <h4 class="mb-4">Edit {{video.title}}</h4>
  <form (ngSubmit)="onEditVideo(f)" #f="ngForm">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Title: </label>
      <div class="col-sm-9">
        <input class="form-control" type="text" name="title" placeholder="ชื่อคอร์ส" [(ngModel)]="video.title">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Video: </label>
      <div class="col-sm-5">
        <video style="width: 100%" src="/assets/videos/{{video.path}}" controls></video>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Upload Video: </label>
      <div class="col-sm-9">
        <input class="form-control-file" (change)="onChange($event, file)" type="file" name="video" #fileUpload ngModel>
        <span class="invalid-feedback" *ngIf="errMessage">
          *Please upload file no bigger than 2Gb with .mp4 or .avi extension
        </span>
      </div>
    </div>
    <!-- <div class="form-group row">
      <label class="col-sm-3 col-form-label">File Name (opt.): </label>
      <div class="col-sm-9">
        <input class="form-control" #fileName="ngModel" type="text" name="fileName" placeholder="file name (no extension)" ngModel>
      </div>
    </div> -->
    <label>Old Videos: </label>
    <div class="form group list-group my-3">
      <div (click)="selectVideo($event, vid); toggleSelect($event, i)" *ngFor="let vid of videos; let i = index" class="list-group-item d-flex flex-column">
        <div class="d-flex flex-row justify-content-between">
          <div>{{vid}}</div>
          <a (click)="toggleShow($event, i)" class="btn btn-sm btn-primary text-white">Preview</a>
        </div>
        <div *ngIf="showVideos[i]" class="col-md-3 col-sm-6 my-3">
          <video style="width:100%" src="/assets/videos/{{vid}}"  controls autoplay></video>
        </div>
        <i class="fa check-on-image {{selectVideos[i]? 'fa-check-circle-o': ''}}" aria-hidden="true"></i>
      </div>
    </div>
    <button class="btn btn-primary pull-right">Edit</button>
  </form>
</div>
