<div class="card mb-3">
  <img class="card-img-top" src="/assets/images/{{course.image}}" alt="{{course.title}}">
  <div class="card-body">
    <h4 class="card-title">{{course.price}} Bahts</h4>
    <a routerLink="/cart/checkout" class="btn btn-block btn-info p-2">Buy Now</a>
    <a href="#" class="btn btn-block btn-default cart-btn p-2">Add To Cart</a>
    <div class="card-body">
        <h5>Includes :</h5>
        <p class="card-text"><i class="fa fa-file-video-o" aria-hidden="true"></i> ... hours on-demand video</p>
        <p class="card-text"><i class="fa fa-file-text" aria-hidden="true"></i> {{course.resources.length}} Supplemental Resource</p>
        <p class="card-text"><i class="fa fa-universal-access" aria-hidden="true"></i> Full lifetime access</p>
        <p class="card-text"><i class="fa fa-mobile" style="transform: scale(1.25, 1.25);" aria-hidden="true"></i> Access on mobile and TV</p>
        <p class="card-text"><i class="fa fa-trophy" aria-hidden="true"></i> Certificate of Completion</p>
    </div>
  </div>
</div>
