li {
  padding-top: 5px;
  padding-bottom: 5px;
}

li:hover {
  background-color: #f5f5f5;
  -webkit-transition: all .3s;
  transition: all 0.3s;
}

ul a {
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  ul a {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  ul a {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  ul a {
    font-size: 16px;
  }
}

.nav-tab {
  border-right: 1px solid #efefef;
}

.active {
  background-color: #f5f5f5;
}

.icon {
  color: #f4a341;
}
