a {
  text-decoration: none;
}

.card {
  box-shadow: 2px 2px 4px #ddd;
  border: none;
}

.card:hover {
  box-shadow: 1px 1px 2px #ccc;
}

.card {
  opacity: 1.0;
  background-color: black;
  /*-webkit-transition: all .2s;
  transition: all 0.2s;*/
}

.card-body {
  background-color: white;
  border: 0.25px solid #ddd;
}

.card:hover img {
  -webkit-transition: all .2s;
  transition: all 0.2s;
  opacity: 0.75
}

.small-text {
  font-size: 15px;
}
