<div class="container my-4">
  <div class="jumbotron p-4">
    <h2>Shopping Cart  <i class="fa fa-shopping-cart"></i></h2>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <p>Your Item (1)</p>
      <hr>
      <div class="card p-2">
        <div class="row">
          <div class="col-md-4">
            <img style="width:100%" src="/assets/images/chem1.jpg" alt="">
          </div>
          <div class="desc col-md-8 mt-3">
            <p>Chem Olympic 1</p>
            <p class="font-weight-bold text-danger">500 Bahts</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <h3>Total</h3>
      <h2>500 Bahts</h2>
      <a routerLink="/cart/checkout" class="btn btn-lg btn-primary">Proceed To Check Out</a>
    </div>
  </div>
</div>
