<div class="container my-4">
  <ng-template [ngIf]="course && user">
    <div class="jumbotron">
      <div class="container d-flex justify-content-between">
        <div class="col-sm-6 intro-video">
          <iframe width="100%" style="height: 200px" [src]='getUrl()' frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-6 ml-3">
          <h2>Learn {{course.title}}</h2>
          <a routerLink="/courses/{{course.code}}/learn" *ngIf="user.courseBundle.numFinishedVideos === course.numVideos"
          class="btn btn-lg btn-primary my-3">
            {{course.title}} completed
          </a>
          <a routerLink="" *ngIf="user.courseBundle.numFinishedVideos !== course.numVideos"
          class="btn btn-lg btn-primary my-3">
             Continue to lecture _
          </a>
          <p class="progress-caption"><span id="num-finished-videos" #numFinishedVideos>{{user.courseBundle.numFinishedVideos}}</span> of {{course.numVideos}} items complete</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="getProgress()"
            aria-valuemin="0" aria-valuemax="100" (updateProgressBar)="updateProgressBar($event)" [style.width]="getProgress('style')" #progress>
              <span class="sr-only">{{getProgress}}% Complete</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <learn-overview [numFinishedVideos]="numFinishedVideos" [user]="user" [course]="course" (notifyParent)="updateView()"></learn-overview>
  </ng-template>

</div>
