label {
  font-weight: 500;
}

.check-on-image {
  position: absolute;
  top: 3px;
  left: 20px;
  color: #3de822;
  z-index: 99;
  text-shadow: 1px 1px 5px #333333;
}

.invalid-feedback {
  display: block;
}
